$primary : rgb(33, 127, 189);
$warning : brown;


@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

$lacaste-theme-colors: (
    "cool": pink,
    "allen": cyan);

$theme-colors: map-merge($lacaste-theme-colors, $theme-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_converter.scss";

.navbar{
    height: 60px !important;
}

#logo{
    font-size: 28px !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

#navbarsExample07 a{
    color: $primary;
}

hr{
    border: 2px solid $primary;
}
